table,td,th{
    border-style: double;
    text-align: left;
    font-weight: 550;
}
.Info h3{
    margin-left: 5px;
    font-size: larger;
}

.tooltip {
    position: relative;
  }
  
  .tooltip:hover + #tooltiptext {
    visibility: visible;
  }
  
  #tooltiptext {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 20%;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 1px  solid black;
    font-weight: lighter;
  }
  
  #Image-holder img
  {
    width: 177px;
  }